@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-color : #D97706;
    --secondary-color : #A7F3D0;
}

/* body styling */

body{
    font-family: 'Questrial', sans-serif;
    /* margin:0px; */
}

/* header section styling */

header{
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

header h2{
    text-align: center;
    font-size: 1.25rem;
}

a{ 
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem 1rem;
}

.nav{
    text-align: right;
}

/* Header image styling */

img{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 2rem 2rem;
    
}

/* intro styling */

.intro{
    text-align: center;
}

span{
    color: var(--primary-color);
    font-size: x-large;
}