@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-color : #D97706;
    --secondary-color : #A7F3D0;
}

body{
    font-family: 'Questrial', sans-serif;
    /* margin:auto; */
}

header{
    background-color: var(--primary-color);
    padding: 1.5rem 3rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

header p{
    text-align: center;
    font-size: 1.25rem;
}

a{ 
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem 1rem;
}

.nav{
    text-align: right;
}