@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --primary-color : #D97706;
    --secondary-color : #A7F3D0;
}

/* body styling */

body{
    font-family: 'Questrial', sans-serif;
    /* margin:0px; */
}

/* header section styling */

header{
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

header h2{
    text-align: center;
    font-size: 1.25rem;
    color: white;
}

a{ 
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem 1rem;
    color: black;
}

.active{
    font-weight: bolder;
    font-size: 25px;
}

.nav{
    text-align: right;
    padding: 1rem;
}

/* Header image styling */

img{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 2rem 2rem;
    
}

p{
    font-size: 18px;
    padding: 1rem 1rem;
}

/* intro styling */

.intro{
    text-align: center;
}

span{
    color: var(--primary-color);
    font-size: x-large;
}

/*project section styling */

section{
    padding: 2rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    margin: 1rem;
    /* text-align: center; */
}
.non-white{
    background-color: var(--secondary-color);
}

.explore{
    background-color: var(--primary-color);
    border-radius: 2rem;
    font-size: 17.5px;
    padding: 0.5rem 2rem;
    margin: 1rem;
    color: white;
}

/* blog section styling */

.experience{
    background-color: white;
    border-radius: 2rem;
    font-size: 17.5px;
    padding: 0.5rem 3rem;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* outro styling */
.outro{
    text-align: center;
    margin: 2rem;
}

.outro p{
    padding: 0.25rem;
}

.outro h3{
    color: var(--primary-color);
    font-size: 1.5rem;
}

/* footer styling */

footer{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
 
}

.learn{
    margin-top: -8%;
    margin-right: 5%;
    margin-bottom: -11%;
    width: 200px;
    height: 200px;
}

 
.project{
    margin-top: -13%;
    margin-right: 5%;
    margin-bottom: -6%;
    width: 200px;
    height: 200px;
}

.blog{
    margin-top: -11%;
    margin-right: 5%;
    margin-bottom: -4%;
    width: 200px;
    height: 150px;
}

footer img{   
    display: inline;
    width:50px;
    height:50px;
}
